h1=title
.article
   .createdAt=article.createdAt
   .title=article.title
   .body=article.body
   - if(article.comments)
      - each comment in article.comments
         .comment
            .person=comment.author
            .comment=comment.comment
   div
      form( method="post", action="/blog/addComment")
        input( type="hidden", name="_id", value=article._id.toHexString())
        div
          span Author :
          input( type="text", name="person", id="addCommentPerson")
        div
          span Comment :
          textarea( name="comment", rows=5, id="addCommentComment")
        div#editArticleSubmit
          input(type="submit", value="Send")
